@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.small-bold-text {
  font-size: 1rem;
  font-weight: 500;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-link:hover {
  color: var(--accent-color);
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  color: white !important;
  font-weight: 500;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
}
.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  color: var(--primary-text-color) !important;
  transition: 0.2s ease-out;
  font-weight: 500;
  padding: 12px 24px;
}
.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}
/* Top banner */
.top-banner {
  background-image: url(assets/5b7e4d7973addf81ed1f4010_pattern.png);
  background-color: #4dadf7;
  background-size: 300px;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}
/* Navigation */
.main-nav {
  justify-content: space-between;
  margin-top: 20px;
}
.company-logo img {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
header {
  padding: 50px var(--padding-inline-section) 0;
}
.heading {
  justify-content: center;
  gap: 50x;
}
.heading img {
  width: 600px;
}
.heading-left {
  width: 40vw;
}
.heading-left h1 {
  margin-top: 20px;
}
.get-started-button {
  margin-top: 20px;
}
/* company */
.company-header {
  margin-block: 30px;
  text-align: center;
  color: var(--primary-text-color);
}
.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 45px;
}

/* Feature */
.feature-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url(assets/back.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-heading {
  text-align: center;
}
.features-heading a {
  margin-top: 20px;
}

/* feature area */
.card {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}
.features-area {
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.card img {
  width: 40px;
}

/* big feature selection */
.big-feature-section {
  padding: 40px var(--padding-inline-section) 0;
}
.bif-feature-container {
  gap: 30px;
}
.big-feature-img img {
  width: 100%;
}
.big-feature-content {
  flex-direction: column;
  align-items: flex-start;
}
.big-feature-img2 img {
  width: 120px;
  margin-block: 20px;
}
.big-feature-img3 img {
  width: 80px;
  margin-block: 20px;
}
.c-subfooter img {
  width: 50px;
}
.sub-footer {
  padding-top: 30px;
  gap: 5px;
}

/* Examples */
.example-area {
  justify-content: space-between;
  margin-block: 30px;
}
.example-heading {
  text-align: center;
}
.example-heading h2 {
  margin-bottom: 20px;
}
.example-card {
  width: 23%;
  position: relative;
  min-height: 300px;
  background-color: black;
  transition: 0.2s ease-out;
  background-size: cover;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(assets/asset\ 36.jpeg);
}
.example-card:hover {
  box-shadow: 0 0 10px #888;
}
.example-card:nth-child(2) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(assets/asset\ 37.jpeg);
}
.example-card:nth-child(3) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(assets/asset\ 38.jpeg);
}
.example-card:nth-child(4) {
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)),
    url(assets/asset\ 39.jpeg);
}
.example-card-text {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

/* Cta section */
.cta-section-container {
  flex-direction: column;
  gap: 30px;
  color: white;
}
.cta-section{
  background-color: #183b56;
  padding: 120px var(--padding-inline-section) 80px;
}
.cta-section-container p{
  color: white;
  margin-top: 20px;
}

/* Footer */
.links-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer-container{
  align-items: flex-start;
  justify-content: space-between;
}
footer{
  padding-block: 80px;
  background-color: #ebf2fa;
}

/* sub footer */
.sub-footer-footer{
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}
.sub-footer-container{
  justify-content: center;
  gap: 30px;
}
.sub-footer-container img{
  width: 20px;
}